/* You can add global styles to this file, and also import other style files */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .note-container {
  width: 230px;
  text-align: center;
}
.fa:hover {
  color:dodgerblue;
}
