
.card.new {
  border-style: dashed;
}

.message {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  border: 1px solid #ddd;
  margin: 0;
}
.author {
  position: relative;
  bottom: 14px;
  background: white;
  margin-left: 10px;
  margin: 0px;
  display: inline;
  padding: 0px 10px;
  left: -60px;
}
.note-container {
  cursor: pointer;
  margin:50px;
}
.card-body {
  height:180px;
}
